@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import "tailwindcss";


.google-login-button > button {
  width: 100% !important;
  min-width: unset !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  justify-content: center !important;
}